<%- include('header')%>
<div class="result">
    <% if(error) { %>
        <%= error %>
    <% } else { %>

    <%= quantidade %> 
    de dolares na cotação 
    <%= cotacao %> é igual a: <%= conversao %> dolares
    <% } %>
</div>


<%- include('footer')%>